
<html>
<head><meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  margin-left: 5%;
  margin-top: 30px;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px;
}


.topnav a.active {
  color: White;
  font-size: 20px;
  font-weight: 500em;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">E-Succes</a>
  <a href="#news">About</a>
  <a href="#contact">Recommendation</a>
  <a href="#about">Contact</a>
</div>

<div style="padding-left:16px">
  <h2>Top Navigation Example</h2>
  <p>Some content..</p>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
</body>
</html>
